
<!-- include header -->
<%-include('include/_header')%>
<div id="header" class="background">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 id="logo">Hey Doc!!&nbsp;&nbsp;<i class="fa fa-user-md fa-spin " aria-hidden="true"></i>
                </h1>
            </div>
            <div class="col-md-8 " id="menu">
                <ul class="nav float-md-right">
                    <li class="nav-item"><a class="nav-link" href="">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Contact us</a></li>
                    <li class="nav-item"><a class="nav-link" href="">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Gallery</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section id="background" class="background">
<h2 class="backgroundheading text-center text-white my-5">YOU'LL THE WAY WE CARE FOR YOU</h2>
<div class="bgsecondhalf d-flex flex-column justify-content-center align-items-center">
    <h3 class="mt-5">Emergency?</h3>
    <button class="btn btn-primary btn-lg"><a href="/patient-book-appointment" class="text-black">Take Appointment</a></button>
</div>
</section>
<section class="cardsection" id="cardsec">
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="img/admin.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn-dark btn-lg "><a href="/admin_base" class="text-white">Admin</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="img/doctor.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn-dark btn-lg text-white"><a href="/doctor-base" class="text-white">Doctor</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="img/patient.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn-dark btn-lg text-white"><a href="/patient-book-appointment" class="text-white">Patient</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<footer>

<p>
    <a href="" class="fa fa-facebook"></a>
    <a href=""
        class="fa fa-whatsapp"></a>
    <a href="" class="fa fa-instagram"></a>
    <a href="" class="fa fa-twitter"></a>
</p>

<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
                <p>Made in India <br>
                    Copyright &copy; 2020  </p>
            </div>
        </div>
    </div>
</div>
</footer>
<!-- include header -->
<!-- include footer -->
<%-include('include/_footer')%>
<!-- include footer -->